# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore logs and temp files
*.log
*.swp
*.swo
*.bak
*.diff
*.patch
*.orig
*.zip
*.tar.gz
*.egg
*.egg-info/
*.dump
*.sql
*.db

# Ignore editor/project-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store
*.iml

# Ignore everything in odoo18
odoo18/*

# Except addons folder
!odoo18/addons/

# Allow custom modules
custom_modules/
