# Ignore everything
*

# But do track these folders
!custom_modules/
!custom_modules/**

!odoo18/addons/
!odoo18/addons/**

# Ignore typical junk
*.pyc
__pycache__/
*.log
*.swp
*.swo
*.bak
*.diff
*.patch
*.orig
*.zip
*.tar.gz
*.egg
*.egg-info/
*.dump
*.sql
*.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store
*.iml
